@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');

@font-face
{
    font-family: akbar;
    /* For some reason these pathes keep breaking when switching between computer and laptop */
    src: url(/fonts/akbar/akbar.ttf);
}
@font-face
{
    font-family: simpsonFont;
    /* For some reason these pathes keep breaking when switching between computer and laptop */
    src: url(/fonts/simpsonfont/Simpsonfont\ DEMO.otf);
}
@font-face
{
    font-family: lazyDog;
    /* For some reason these pathes keep breaking when switching between computer and laptop */
    src: url(/fonts/lazy_dog/lazy_dog.ttf);
}
@font-face
{
    font-family: moreSugar;
    /* For some reason these pathes keep breaking when switching between computer and laptop */
    src: url(/fonts/more_sugar/MoreSugar-Regular.otf);
}
@font-face
{
    font-family: oliver3;
    /* For some reason these pathes keep breaking when switching between computer and laptop */
    src: url(/fonts/oliver_3/Oliver-Regular.ttf);
}

body
{
    background-image: linear-gradient(to bottom, #5Eb5E2, #98D9F9);
    margin: 0;
    min-height: 100%;

    overflow:hidden;

}

#bgContainer
{
    height: 100vh;
    position: relative;
    overflow: hidden;
}
#imgContainer
{
    position: absolute;
    z-index: -1;
    overflow: visible;
}

@keyframes skySubtleMove
{
    from
    {
        transform: translateX(0);
    }
    to
    {
        transform: translateX(-1250px);
    }
}

#cloudBl
{
    position: relative;
    animation: skySubtleMove 180s infinite linear;
}

#cloudBr
{
    position: absolute;
    top: 0;
    left:150%;
    z-index: 4;
    animation: skySubtleMove 180s infinite linear;
}

#cloudFl
{
    position: absolute;
    top: 228%;
    left: 20%;
    z-index: 2;
    animation: skySubtleMove 180s infinite linear;
}

#cloudFr
{
    position: absolute;
    top: 200%;
    right: -150%;
    z-index: 3;
    animation: skySubtleMove 180s infinite linear;
}

#cloudBl2
{
    position: absolute;
    top: 90%;
    right: -280%;
    z-index: 3;
    animation: skySubtleMove 180s infinite linear;
}
#cloudFl2
{
    position: absolute;
    top: 30%;
    right: -290%;
    z-index: 3;
    animation: skySubtleMove 180s infinite linear;
}

#cloudBr2
{
    position: absolute;
    top: 240%;
    right: -400%;
    z-index: 3;
    animation: skySubtleMove 180s infinite linear;
}


/* *****HOME SCREEN*****  */

#homeScreen
{
    min-height: 100vh;
    /* WHEN DONE SET DISPLAY FLEX!!! */
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#msgContainer
{
    /* FOR TESTING TOGGLE THIS */
    display: flex;
    flex-direction: column;
    align-items: center;

}


#welcomeMsg
{
    font-family: akbar;
    color: #FFD900;
    font-size: 4em;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;

    margin: 0;
}

#instructionMsg
{
    text-align: center;
    font-family: 'ADLaM Display';
    color: white;
    font-size: 1.5em;

    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

#titleContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;

}

#titleMainText
{
    color: #FFD900;
    font-size: 10.25em;
    text-align: center;

    font-family: 'moreSugar';
    text-shadow: black 1px;
    text-shadow:
        -3px -3px 0 black,
        3px -3px 0 black,
        -3px 3px 0 black,
        3px 3px 0 black;

    margin: 0;
}

#startBtn
{
    background-color: #FFD900;
    border-style: solid;
    width: 300px;
    height: 80px;
    text-align: center;

    border-radius: 25px; 
    border: 2px black solid;

    display: flex;
    align-items: center;
    justify-content: center;
}

#startBtn:hover
{
    background-color: #ffe140;
    cursor: pointer;
}

#startBtn h2 
{
    color: #ffed89;
    font-family: ADLaM Display;
    font-size: 3em;

    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    margin: 0;

   
}

#startBtn:hover h2
{
    font-size: 3.5em;

    transition-duration: .1s;
}

/* *****GAME SCREEN***** */

#gameScreen
{

    display: none;
    justify-content: center;
    min-height: 100%;
}

#gameBg
{
    width: 1080px;
    height: 720px;

    display: flex;

    flex-direction: column;
    /* For Text */
    align-items: center;
   /* For Pink Bg */
    align-self: center;
    justify-content: center;
    

    background-color: #F8BCE0;
    border: 10px solid #FFD9F0;

}

#gameBg h2
{
    font-family: "ADLaM Display";
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;  
}

#buttonTopRow
{
    width: 100%;


    display: flex;
    justify-content: space-evenly;
    align-items: center;

    font-size: 4em;

    gap: 20px;
}

#buttonBottomRow
{
    width: 100%;
  
    margin: 0;
    margin-top: 20px ;



    display: flex;
    justify-content: space-evenly;
    align-items: center;

    font-size: 4em;

}

.letterBtn
{
    width: 150px;
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: solid 5px #57BEC9;
    background-color: #CA8A53;

    box-shadow:15px inset;
    
    cursor: pointer;
}

.letterBtn p
{
    font-family: 'simpsonFont';
    color: #FFD900;

    font-size: 1.5em;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;    

}


.letterBtn:hover
{
    background-color: #eba262;
    transition-duration: .2s;
}

.letterBtn:hover p 
{
    font-size: 1.8em;
    transition-duration: .2s;
}



.shake
{
    animation: shake .2s ease-in-out 0s 2;
}

@keyframes shake 
{
  0%   { transform: translateX(0); }
  25%  { transform: translateX(0.5rem); }
  75%  { transform: translateX(-0.5rem); }
  100% { transform: translateX(0); }
}

#replayDohBtn
{
    background-color: white;
    width: 300px;
    height:60px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 50px;

    border-radius: 25px;

   
}

#replayDohBtn
{
    font-family: 'ADLaM Display';
    border: black 2px solid;
    background-color: #FFD900;
}

#replayDohBtn:hover
{
    background-color: #ffe140;
    transition-duration: .2s;
}

#replayDohBtn h3
{
    color: #FFFDBE;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;  
    font-size: 2em;
}



#replayDohBtn:hover h3
{
    font-size: 2.25em;
    cursor: pointer;

    transition-duration: .2s;
}

#returnColumn
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#alignProgress {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 50px; 
    box-sizing: border-box;
}

.progressContainer {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  gap: 10px;
}


#leftProgress,
#rightProgress {
    width: 100px;
    height: 600px;
    margin: 0; 

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}

#returnColumn {
    flex-grow: 1;                   
    display: flex;
    flex-direction: column;
    align-items: center;            
    justify-content: center;       
}

/* Progress Bar Circles and Donuts */

.progressCenter
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* centered */
.progressContainer > div {
  position: relative;
  width: 60px;
  height: 60px;
}

/* place img on same position as circle */
.progressContainer img {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}

/* create circle */
.circle
{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #eee;
    border: 2px solid #000000;

}


.circle7
{
    display: block;
}

.img7
{
    display: none;
}

.circle6
{
    display: block;
}

.img6
{
    display: none;
}

.circle5
{
    display: block;
}

.img5
{
    display: none;
}

.circle64
{
    display: block;
}

.img4
{
    display: none;
}

.circle3
{
    display: block;
}

.img3
{
    display: none;
}

.circle2
{
    display: block;
}

.img2
{
    display: none;
}

.circle1
{
    display: block;
}
.circle1 .circle
{
    background-color: #FFD900;
}

.img1
{
    display: none;
}



/* *****RESULT SCREEN***** */

#resultScreen
{
    display: none;
    justify-content: center;
    min-height: 100%;

}

#resultBg
{
    width: 1080px;
    height: 480px;

    display: flex;

    flex-direction: column;
    /* For Text */
    align-items: center;
   /* For Pink Bg */
    align-self: center;

    justify-content: center;
    

    background-color: #F8BCE0;
    border: 10px solid #FFD9F0;  
}

#resultTextContainer
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#resultGmTitle
{
    font-family: 'moreSugar';
    color: #FFD900;
    font-size: 5em;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;

    margin: 0;

    
}

#resultMsg
{
    font-family: "ADLaM Display";
    color: white;
    font-size: 1.5em;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

#playAgainBtn
{
    background-color: #FFD900;
    
    width: 300px;
    height:60px;

    margin-top: 50px;

    border-radius: 25px;
    border: black 2px solid;

    display: flex;
    justify-content: center;
    align-items: center;
}

#playAgainBtn:hover
{
    background-color: #ffe140;
    transition-duration: .2s;
}

#playAgainBtn h3
{
    color: #FFFDBE;
    font-family: 'ADLaM Display';

    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;  
    font-size: 2em;

}


#playAgainBtn:hover h3
{
    font-size: 2.2em;
    cursor: pointer;

    transition-duration: .2s;
}
